<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCw2vwvfKR7JfL0ctYEz-ay66xw2y8hcgI</string>
	<key>GCM_SENDER_ID</key>
	<string>804490421349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.imovelhub</string>
	<key>PROJECT_ID</key>
	<string>imovelhub-db7da</string>
	<key>STORAGE_BUCKET</key>
	<string>imovelhub-db7da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804490421349:ios:a9b8bbba5de5f4260d928c</string>
	<key>DATABASE_URL</key>
	<string>https://imovelhub-db7da-default-rtdb.firebaseio.com</string>
</dict>
</plist>